<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method=post action="/predict" enctype=multipart/form-data>
    <input type=file name=predict>
    <input type=submit value=Upload>
</form>
<!-- Shape is: {{ shape }} -->
{% block content %}
<h1>{{name}}</h1>
{{data | safe}}
{% endblock %}    
    
</body>
</html>
