<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default Prediction</title>
</head>
<style>
    *{margin: 0; padding: 0;}
    body{background: #ffb3c7; font-family: sans-serif;}
    h1{text-align: left; color: #000000; font-weight: normal; margin-bottom: 20px;}
</style>
<body>
{% block content %}
<h1>{{name}}</h1>
{{data | safe}}
{% endblock %}
</body>
</html>
